@import "./color_schemes/dark";

$link-color: #ffdf58;
$nav-child-link-color: #ffdf58;
$sidebar-color: #180532;
$body-background-color: #180532;
$body-text-color: #e6e6e6;
$body-heading-color: #FFFFFF;
$code-background-color: #462B53;
// $base-button-color: #ffdf58;
$btn-primary-color: #ffdf58;
$feedback-color: darken(#180532, 3%);